.header {
  background: radial-gradient(circle, rgba(176,174,238,1) 0%, rgb(53, 4, 64) 100%);
  color: rgb(255, 255, 255);
  padding: 20px;
  
}

.header-content h1 {
  margin: 0;
  font-size: 3.5em;
  color: #fbfbfb;
 text-align: start;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.header-content p {
  margin: 10px 0;
  font-size: 1.2em;
  margin-left: 600px;
  font-weight: 600;
  
}

.nav-desktop {
  margin-top: 20px;
  

}

.nav-desktop {
margin-left: 1220px;
}
.nav-desktop a {
 
  
  align-items: end;
  width: 60px;
  height: 50px;
  display: grid;
  gap: 2px;
  background-color: #19061c;
  color: #fcfbfe;
  text-decoration: none;
  margin: 0  10px;
  padding: 5px 14px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-desktop a:nth-child(2){
  align-items: end;
  background-color: #04431a;
  margin-top: 15px;

}

.nav-desktop a:hover {
  background-color: #580b53;
  color: white;
}

.nav-mobile {
  display: none;
}

.nav-mobile a {
  color: #072936;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-mobile a:hover {
  background-color: #962198;
  color: white;
}

.nav-desktop a svg {
  margin-right: 8px;
}

.nav-desktop a:hover {
  background-color: #56199c;
  color: white;
}

.nav-desktop a:hover:nth-child(2) {
  background-color: #55bb0c;
  color: white;
}

.nav-mobile {
  display: none;
}

.nav-mobile a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-mobile a svg {
  margin-right: 8px;
}

.nav-mobile a:hover {
  background-color: #962198;
  color: white;
}

@media (max-width: 768px) {
  .header-content p {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-around;
    margin-left: -20px;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 7vh;
    width: 100%;
  }
}
